<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de la investigación</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idInvestigacion">Id. Investigación:  </label><br>
                        <input readonly type="text" class="form-control" id="idInvestigacion"  placeholder="Id. investigación" ng-model="investigacion.idInvestigacion" value="{{ investigacion.idInvestigacion || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="protocolo">Protocolo:  </label><br>
                        <input type="text" class="form-control" id="protocolo"  placeholder="Ingresar protocolo" ng-model="investigacion.protocolo" value="{{ investigacion.protocolo || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="titulo">Título:  </label><br>
                        <input type="text" class="form-control" id="titulo"  placeholder="Ingresar título" ng-model="investigacion.titulo" value="{{ investigacion.titulo || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramEspecialidad">Especialidad:  </label><br>
                        <select class="form-control" id="paramEspecialidad" ng-model="investigacion.paramEspecialidad">
                            <option ng-repeat="pd in paramEspecialidad" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramFase">Fase:  </label><br>
                        <select id="paramFase" class="form-control" ng-model="investigacion.paramFase">
                            <option ng-repeat="pd in paramFase" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramTipoInvestigacion">Tipo de Investigación:  </label><br>
                        <select  id="paramTipoInvestigacion" class="form-control" ng-model="investigacion.paramTipoInvestigacion">
                            <option ng-repeat="pd in paramTipoInvestigacion" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">     
                    <uib-accordion close-others="cerrarOtras">
                        <div uib-accordion-group class="panel-default" >
                            <uib-accordion-heading>
                                <div>Coordinadores</div>
                            </uib-accordion-heading>                            
                        </div>
                        
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                <div>Investigador</div>
                            </uib-accordion-heading>
                            contenido de otros
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <uib-accordion-heading>
                                <div>Sede</div>
                            </uib-accordion-heading>
                            contenido de otros
                        </div>
                    </uib-accordion>
                </div>
                <div class="col">    
                    <button type="button" style="width: 100%;" class="btn btn-default" ng-click="isCoordinador = !isCoordinador">Coordinador</button>
                    <hr>
                    <div uib-collapse="isCoordinador">
                            <div>
                            <form data-editable-form name="uiSelectForm" onaftersave="agregarCoordinador()" onbeforesave="antes()" >
                                    <div editable-ui-select="coordinadorSelect" data-e-form="uiSelectForm" data-e-name="coordinadorSelect" name="coordinadorSelect" theme="bootstrap" data-e-ng-model="coordinadorSelect" data-e-style="min-width:300px;">
                                        <editable-ui-select-match placeholder="Coordinador" style="width: 100%;" >
                                            {{$select.selected.apePaterno}} {{$select.selected.apeMaterno}} {{$select.selected.nombres}}
                                        </editable-ui-select-match>
                                        <editable-ui-select-choices repeat="coordinador in coordinadorsSelectList | orderBy: 'apePaterno' | filter: $select.search track by $index ">
                                          {{coordinador.apePaterno}} {{coordinador.apeMaterno}} {{coordinador.nombres}}
                                        </editable-ui-select-choices>
                                    </div> 
                                    <div class="buttons">
                                        <button type="button" class="btn btn-default" ng-click="uiSelectForm.$show()" ng-show="!uiSelectForm.$visible">
                                        Agregar
                                        </button>
                                        <span ng-show="uiSelectForm.$visible">
                                            <br/>
                                            <button type="submit" class="btn btn-primary" ng-disabled="uiSelectForm.$waiting">
                                              Confirmar
                                            </button>
                                            <button type="button" class="btn btn-default" ng-disabled="uiSelectForm.$waiting" ng-click="uiSelectForm.$cancel()">
                                              Cancelar
                                            </button>
                                        </span>
                                    </div>  
                                </form>
                                <br>
                                <table class="table table-bordered table-hover table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Apellidos y Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="invCoordinador in investigacionCoordinadors | orderBy:'idCoordinador'">
                                        <td>
                                            <div>
                                                <div>
                                                    <button type="button" class="close" aria-label="Close" ng-click="eliminarInvCoordinador(invCoordinador)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div>
                                                    {{invCoordinador[1].apePaterno}} {{invCoordinador[1].apeMaterno}}, {{invCoordinador[1].nombres}} 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                    </div>
                </div>                
            </div>
        </div>
        <br>
        
        
<!--
        
-->
        <!--
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>id Coordinador</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Observacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invCoordinador in investigacionCoordinadors | orderBy:'idCoordinador'">
                    <td>{{invCoordinador[0].id.idCoordinador}}</td>
                    <td>{{invCoordinador[1].apePaterno}} </td>
                    <td>{{invCoordinador[1].apeMaterno}} </td>
                    <td>{{invCoordinador[1].nombres}} </td>
                    <td>{{ invCoordinador[0].observacion|| '' }}</td>
                    <td>-->
                        <!--Aquí deben ir los botones de acción-->
                        <!--
                        actualizarInvCoordinador(invCoordinador)-> captura el objeto invCoordinador, 
                        que contiene dos objectos: [InvestigacionCoordinador:0 - Coordinador:1] y actualiza el campo observación.

                        eliminarInvCoordinador(invCoordinador)-> captura el objeto invCoordinador, 
                        que contiene dos objectos: [InvestigacionCoordinador:0 - Coordinador:1] y elimina La investigacionCoordinador

                        -->
                    <!--</td>

                </tr>
            </tbody>
        </table>-->
        <br>
    </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>