
<div class="container" style="padding-top: 50px">
    <div class="row">
        <h1 style='text-align: center'><b>Lista de Investigaciones</b></h1>
    </div>

    <br>
    <br>
    <br>
    <div class="row">
        <input type="text" ng-model="txtFiltroInvestigacion" class="form-control" placeholder="Buscar">
        <ul class="nav nav-pills" >
            <li><a href=""  >Crear Investigación</a></li>
        </ul>
    </div>
    <br>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Protocolo</th>
                    <th>Titulo</th>
                    <th>Especialidad</th>
                    <th>Fase</th>
                    <th>Tipo de Investigación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="investigacion in investigacions| empezarDe : currentPage * pageSize | limitTo:pageSize | filter:txtFiltroInvestigacion ">
                    <td>{{investigacion.idInvestigacion}}</td>
                    <td>{{investigacion.protocolo}}</td>
                    <td>{{investigacion.titulo}}</td>
                    <td>{{investigacion.paramEspecialidad}}</td>
                    <td>{{investigacion.paramFase}}</td>
                    <td>{{investigacion.paramTipoInvestigacion}}</td>
                    <td>
                        <div class="btn-group"><button ng-click='' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seleccione <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Editar</a></li>
                                <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Borrar</a></li>
                            </ul>
                        </div>
            </td>
            </tr>
            </tbody>
            <tfoot align="center">
                <tr>
                    <td colspan="5">
                        <div class="container ">
                            <div class="center-block">
                                <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                                {{currentPage + 1}}/{{numberOfPages()}}
                                <!--<button ng-disabled="paginacion.inicia >= productos.length/paginacion.max - 1" ng-click="paginacion.inicia=paginacion.inicia+1">-->
                                <button ng-disabled="currentPage >= coordinadors.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- paginacion -->
</div>