<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Investigador por Investigación</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Investigador: {{investigacionInvestigador.selected[1].apePaterno}}</label><br>
                        <ui-select ng-model="investigacionInvestigador.selected" theme="selectize" title="Seleccionar investigación">
                            <ui-select-match placeholder="Seleccinar investigador">{{$select.selected[1].nombres}}</ui-select-match>
                            <ui-select-choices repeat="inv in investigacionInvestigadors | filter: $select.search">
                                <div ng-bind-html="inv[1].apePaterno | highlight: $select.search"></div>
                                <small ng-bind-html="inv[1].apeMaterno | highlight: $select.search"></small>
                                <small ng-bind-html="inv[1].nombres | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="enviar()">
            Enviar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Cancelar
        </button>
    </div>
</div>