
<div class="container" st-table="displayCollection" st-safe-src="correspondencias">
    <div class="row">
        <div class="col col-md-12">
            <h1 style='text-align: center'><b>Correspondencia</b></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-primary"  ng-click="nuevoModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Correspondencia
            </button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label for="buscaGlobal">Búsqueda global:</label>
            <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label for="vistaPagina">Listar por página:</label>
            <select class="form-control" id="vistaPagina" ng-init="itemsByPage = '20'" ng-model="itemsByPage">
                <option value="5">5</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="predicate">Seleccionar campo a buscar:</label>
                <select class="form-control" id="predicate" ng-model="selectedPredicate">
                    <option ng-repeat="pd in predicates" value="{{pd.nombre}}">{{pd.descripcion}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="buscaCampo">&nbsp;</label>
                <input type="text" st-search="{{selectedPredicate}}" class="form-control" id="buscaCampo"  placeholder="Búsqueda campo">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12">
            <div class="search-table-outter wrapper">
                <div id="no-more-tables">
                    <table class="table table-striped table-bordered table-condensed" >
                        <thead>
                            <tr>
                                <th st-sort="idCorrespondencia">Código</th>
                                <th st-sort="correlativoInterno">Correlativo Interno</th>
                                <th st-sort="fechaCorrespondencia">Fecha Correspondencia</th>
                                <th st-sort="fechaCarta">Fecha Carta</th>
                                <th st-sort="idRegistro">Registro</th>
                                <th st-sort="equivalenciaCorrelativo">Correlativo equiv.</th>
                                <th st-sort="paramDistribucion">Distribución</th>
                                <th st-sort="otro">Comentario</th>
                                <th st-sort="fechaSesion">Fecha Sesión</th>
                                <th st-sort="enviarCorreo">Enviar Correo</th>
                                <th st-sort="enviado">Estado Envío</th>
                                <th colspan="3" style="text-align: center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="correspondencia in displayCollection| empezarDe : currentPage * pageSize | limitTo:pageSize">
                                <td data-title="Código">{{correspondencia.idCorrespondencia}}</td>
                                <td data-title="Código">{{correspondencia.correlativoInterno}}</td>
                                <td data-title="Fecha Correspodencia">{{correspondencia.fechaCorrespondencia|date:'dd/MM/yyyy'}}</td>
                                <td data-title="Fecha Carta">{{correspondencia.fechaCarta|date:'dd/MM/yyyy'}}</td>
                                <td data-title="Registro">{{correspondencia.idRegistro}}</td>
                                <td data-title="Correlativo equiv.">{{correspondencia.equivalenciaCorrelativo}}</td>
                                <td data-title="Distribución">{{correspondencia.paramDistribucion}}</td>
                                <td data-title="Comentario">{{correspondencia.otro}}</td>
                                <td data-title="Fecha Sesión">{{correspondencia.fechaSesion|date:'dd/MM/yyyy'}}</td>
                                <td data-title="Enviar Correo"> {{correspondencia.enviarCorreo|booleanToText}}</td>
                                <td data-title="Estado Envío">{{correspondencia.enviado|booleanToText}}</td>
                                <td  data-title="Ver">
                                    <button data-toggle="tooltip" title="Ver"  class="btn btn-default" ng-click="editarModal(correspondencia, true)"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"> </span></button> 
                                </td>
                                <td  data-title="Editar">
                                    <button data-toggle="tooltip" title="Editar"  class="btn btn-default" ng-click="editarModal(correspondencia, false)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> </span></button>
                                </td>
                                <td  data-title="Eliminar">
                                    <button data-toggle="tooltip" title="Eliminar"  class="btn btn-danger" ng-click="eliminar(correspondencia)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> </span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </div>
    </div>
    <!--    <div class="container">
            <div class="center-block" style="text-align: center">
                <br>
                <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                    <span aria-hidden="true">&laquo;</span>
                </button>
                {{currentPage + 1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= correspondencias.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
        </div>-->
</div>