
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h1 style='text-align: center'><b>Correspondencia</b></h1>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <input type="text" ng-model="txtFiltroCorrespondencia" class="form-control" placeholder="Buscar">
            <br>
            <button class="btn btn-primary col-xs-12 col-sm-2" ng-click="nuevoModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Correspondencia
            </button>
        </div>
    </div>

    <div class="row">
        <br>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf" >
                <thead class="cf">
                    <tr>
                        <th>Código</th>
                        <th>Fecha Registro</th>
                        <th>Fecha Carta</th>
                        <th>Registro</th>
                        <th>Tipo de Servicio</th>
                        <th>Comentario</th>
                        <th>Distribución</th>
                        <th>Fecha Sesión</th>
                        <th>Enviar Correo</th>
                        <th>Estado Envío</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="correspondencia in correspondencias| empezarDe : currentPage * pageSize | limitTo:pageSize | filter:txtFiltroCorrespondencia ">
                        <td data-title="Código">{{investigacion.idInvestigacion}}</td>
                        <td data-title="Fecha Registro">{{investigacion.protocolo}}</td>
                        <td data-title="Fecha Carta">{{investigacion.titulo}}</td>
                        <td data-title="Registro">{{investigacion.paramEspecialidad}}</td>
                        <td data-title="Tipo de Servicio">{{investigacion.paramFase}}</td>Distribución
                        <td data-title="Comentario">{{investigacion.paramTipoInvestigacion}}</td>
                        <td data-title="Distribución">{{investigacion.paramTipoInvestigacion}}</td>
                        <td data-title="Fecha Sesión">{{investigacion.paramTipoInvestigacion}}</td>
                        <td data-title="Fecha Sesión">{{investigacion.paramTipoInvestigacion}}</td>
                        <td data-title="Comentario">{{investigacion.paramTipoInvestigacion}}</td>
                        <td>
                            <!--<div class="btn-group"><button ng-click='' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Seleccione <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Editar</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Borrar</a></li>
                                </ul>
                            </div>-->
                            <button class="btn btn-primary" ng-click="editarModal(investigacion)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> Editar</span></button>
                            <button class="btn btn-danger" ng-click="eliminar(investigacion)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> Eliminar</span></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <br>
            <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                <span aria-hidden="true">&laquo;</span>
            </button>
            {{currentPage + 1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= investigacions.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </div>
    </div>
</div>