<div class="modal-content" style="z-index: 1050">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de Correspondencia</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idCorrespondencia">Id. Correspondencia:  </label><br>
                        <input readonly type="text" class="form-control" id="idCorrespondencia"  placeholder="Id. correspondencia" ng-model="correspondencia.idCorrespondencia" value="{{ correspondencia.idCorrespondencia || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaCorrespondencia" class="control-label">Fecha correspondencia: </label><br>
                        <input ng-model="correspondencia.fechaCorrespondencia" id="fechaCorrespondencia" md-placeholder="Fecha correspondencia" disabled/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaCarta" class="control-label">Fecha carta: </label><br>
                        <input ng-model="correspondencia.fechaCarta" id="fechaCarta" md-placeholder="Fecha carta"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="registro">Registro:  </label><br>
                        <input type="text" class="form-control" id="registro"  placeholder="Seleccionar Registro" ng-model="correspondencia.registro.idRegistro" value="{{correspondencia.registro.idRegistro|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramTipoServicio">Tipo de Servicio:  </label><br>
                        <select class="form-control" id="paramTipoServicio" ng-model="correspondencia.paramTipoServicio">
                            <option ng-repeat="pd in paramTipoServicio" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramDistribucion">Distribución:  </label><br>
                        <select id="paramDistribucion" class="form-control" ng-model="correspondencia.paramDistribucion">
                            <option ng-repeat="pd in paramDistribucion" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="otro">Comentarios:  </label><br>
                        <input type="text" class="form-control" id="otro"  placeholder="Comentarios" ng-model="correspondencia.otro" value="{{ correspondencia.otro || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaSesion">Fecha Sesión:  </label><br>
                        <input type="text" class="form-control" id="fechaSesion"  placeholder="Fecha sesión" ng-model="correspondencia.fechaSesion" value="{{ correspondencia.fechaSesion || '' }}">
                    </div> 
                </div>
                <div class="form-group">
                    <label for="enviarCorreo">Enviar correo:  </label>
                    <checkbox id="enviarCorreo" ng-model="correspondencia.enviarCorreo"></checkbox>
                </div>
                <div class="form-group">
                    <label for="fechaSesion">Fecha Sesión:  </label>
                    <checkbox id="fechaSesion" ng-model="correspondencia.enviado" ng-disabled="true"></checkbox>
                </div>
                <!--Archivos adjuntos-->
                <div class="col">    
                    <button ng-disabled="deshabilitado" type="button" style="width: 100%;" class="btn btn-default" ng-click="isCorrespondenciaFile = !isCorrespondenciaFile">Archivos adjuntos</button>
                    <hr>
                    <div uib-collapse="isCorrespondenciaFile">

                        <label for="cargarArchivo" class="btn btn-file">Seleccione Archivos</label>
                        <input type = "file" id="cargarArchivo" style="display: none" file-model = "myFile" multiple />

                        <div id="no-more-tables" ng-show="myFile.length > 0">
                            <table class="table-bordered table-striped table-condensed cf">
                                <thead class="cf"> 
                                    <tr>
                                        <td>Nombre de Archivo</td>
                                        <td>Estado</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="file in myFile">
                                        <td data-title="Nombre" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                            {{file.name}}
                                        </td>
                                        <td class="col-sm-3" data-title="Estado">
                                            <uib-progressbar ng-show="file._progress < 99" class="progress-striped active" value="file._progress" type="{{file._progressType}}">
                                                {{file._progress}}%
                                            </uib-progressbar>
                                            <uib-progressbar ng-show="file._progress > 99" class="progress-striped" value="file._progress" type="{{file._progressType}}">
                                                Completado
                                            </uib-progressbar>
                                        </td>
                                        <td>
                                            <a ng-show="file._progress === 100" class="btn btn-primary" ng-click="downloadFile(file)"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"></span></a>
                                            <a class="btn btn-danger" ng-click="eliminarFile(file)"><i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs"></span></a>
                                        </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="container">
                                <button class="btn btn-warning" ng-click = "uploadFile()">Subir Archivos</button>
                                <button class="btn btn-danger" ng-click = "eliminarTodo()">Eliminar Todo</button>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <br>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>
