<div class="modal-content" style="z-index: 1050">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de Correspondencia</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idCorrespondencia">Id. Correspondencia:  </label><br>
                        <input readonly type="text" class="form-control" id="idCorrespondencia"  placeholder="Id. correspondencia" ng-model="correspondencia.idCorrespondencia" value="{{ correspondencia.idCorrespondencia || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaCorrespondencia" class="control-label">Fecha correspondencia: </label><br>
                        <md-datepicker ng-model="correspondencia.fechaCorrespondencia" id="fechaCorrespondencia" md-placeholder="Fecha correspondencia" disabled></md-datepicker>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaCarta" class="control-label">Fecha carta: </label><br>
                        <md-datepicker ng-model="correspondencia.fechaCarta" id="fechaCarta" md-placeholder="Fecha carta"></md-datepicker>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="registro">Registro:  </label><br>
                        <input type="text" class="form-control" id="registro"  placeholder="Seleccionar Registro" ng-model="correspondencia.registro" value="{{correspondencia.registro|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramTipoServicio">Tipo de Servicio:  </label><br>
                        <select class="form-control" id="paramTipoServicio" ng-model="correspondencia.paramTipoServicio">
                            <option ng-repeat="pd in paramTipoServicio" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramDistribucion">Distribución:  </label><br>
                        <select id="paramDistribucion" class="form-control" ng-model="correspondencia.paramDistribucion">
                            <option ng-repeat="pd in paramDistribucion" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="otro">Comentarios:  </label><br>
                        <input type="text" class="form-control" id="otro"  placeholder="Comentarios" ng-model="correspondencia.otro" value="{{ correspondencia.otro || '' }}">
                    </div> 
                </div                                                                                                         >
                <div class="col">
                    <div class="form-group">
                        <label for="fechaSesion">Fecha Sesión:  </label><br>
                        <input type="text" class="form-control" id="fechaSesion"  placeholder="Fecha sesión" ng-model="correspondencia.fechaSesion" value="{{ correspondencia.fechaSesion || '' }}">
                    </div> 
                </div>
                <!--
                <div class="col">
                    <div class="form-group">
                        <label for="enviarCorreo">Enviar correo:  </label><br>
                        <input type="checkbox" class="form-control" id="enviarCorreo"  placeholder="Enviar correo" ng-model="correspondencia.enviarCorreo" value="{{ correspondencia.enviarCorreo || '' }}">
                    </div> 
                </div>
                -->
                <div class="col">
                    <div class="form-group">
                        <!--<label for="enviarCorreo">Enviado:  </label>-->
                        <md-checkbox ng-model="correspondencia.enviarCorreo" ng-true-value="'1'" ng-false-value="'0'" id="enviarCorreo" class="md-primary" >
                            Enviar correo
                        </md-checkbox>
                    </div>
                </div>
                <!--
                <div class="col">
                    <div class="form-group">
                        <label for="enviado">Enviado:  </label><br>
                        <input type="checkbox" disabled class="form-control" id="enviado"  placeholder="Enviado" ng-model="correspondencia.enviado" value="{{ correspondencia.enviado }}" ng-true-value="'Sí'" ng-false-value="'No'">
                    </div> 
                </div>
                -->
                <div class="col">
                    <div class="form-group">
                        <!--<label for="enviado">Enviado:  </label>-->
                        <md-checkbox ng-model="correspondencia.enviado"  id="enviado" disabled class="md-primary">
                           Correo enviado
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>

<script type="text/javascript">
            $('.form_datetime').datetimepicker({
                language: 'es',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            $('.form_date').datetimepicker({
                language: 'es',
                setDate: new Date(),
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language: 'es',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
</script>