
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h1 style='text-align: center'><b>Correspondencia</b></h1>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <input type="text" ng-model="txtFiltroCorrespondencia" class="form-control" placeholder="Buscar">
            <br>
            <button class="btn btn-primary col-xs-12 col-sm-2" ng-click="nuevoModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Correspondencia
            </button>
        </div>
    </div>

    <div class="row">
        <br>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf" >
                <thead class="cf">
                    <tr>
                        <th>Código</th>
                        <th>Fecha Registro</th>
                        <th>Fecha Carta</th>
                        <th>Registro</th>
                        <th>Tipo de Servicio</th>
                        <th>Distribución</th>
                        <th>Comentario</th>
                        <th>Fecha Sesión</th>
                        <th>Enviar Correo</th>
                        <th>Estado Envío</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="correspondencia in correspondencias| empezarDe : currentPage * pageSize | limitTo:pageSize | filter:txtFiltroCorrespondencia ">
                        <td data-title="Código">{{correspondencia.idCorrespondencia}}</td>
                        <td data-title="Fecha Registro">{{correspondencia.fechaCorrespondencia}}</td>
                        <td data-title="Fecha Carta">{{correspondencia.fechaCarta}}</td>
                        <td data-title="Registro">{{correspondencia.registro}}</td>
                        <td data-title="Tipo de Servicio">{{correspondencia.paramTipoServicio}}</td>
                        <td data-title="Distribución">{{correspondencia.paramDistribucion}}</td>Distribución
                        <td data-title="Comentario">{{correspondencia.otro}}</td>
                        <td data-title="Fecha Sesión">{{correspondencia.fechaSesion}}</td>
                        <td data-title="Enviar Correo">{{correspondencia.enviarCorreo}}</td>
                        <td data-title="Estado Envío">{{correspondencia.enviado}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="editarModal(correspondencia)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> Editar</span></button>
                            <button class="btn btn-danger" ng-click="eliminar(correspondencia)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> Eliminar</span></button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <br>
            <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                <span aria-hidden="true">&laquo;</span>
            </button>
            {{currentPage + 1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= correspondencias.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </div>
    </div>
</div>