
<div class="container" st-table="displayCollection" st-safe-src="fechaSesions" >
    <div class="row">
        <div class="col col-md-12">
            <h1 style='text-align: center'><b>Sesiones programadas</b></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-primary" ng-click="insertarModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Sesión
            </button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form>
                <label for="buscaGlobal">Búsqueda global:</label>
                <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
            </form>
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <form>
                <label for="vistaPagina">Listar por página:</label>
                <select class="form-control" id="vistaPagina" ng-init="itemsByPage = '20'" ng-model="itemsByPage">
                    <option value="5">5</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <form>
                <label for="vistaPagina">Exportar:</label>
                <p class="input-group">
                    <span class="input-group-btn">
                        <button   data-toggle="tooltip" title="Exportar a Excel" st-export etiqueta="FechaSesion"   tabla="tablaFechaSesion" modelo="displayCollection1" ng-disabled="opcion"  type="button" class="btn btn-default"><i class="glyphicon glyphicon-export"></i></button>
                    </span>
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="predicate">Seleccionar campo a buscar:</label>
                <select class="form-control" id="predicate" ng-model="selectedPredicate">
                    <option ng-repeat="pd in predicates" value="{{pd.nombre}}">{{pd.descripcion}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="buscaCampo">&nbsp;</label>
                <input type="text" st-search="{{selectedPredicate}}" class="form-control" id="buscaCampo"  placeholder="Búsqueda campo">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12">
            <div class="search-table-outter wrapper">
                <div id="no-more-tables">
                    <table class="table table-striped table-bordered table-condensed" >
                        <thead>
                            <tr>
                                <th st-sort="idFechaSesion">Id. Sesión</th>
                                <th st-sort="fechaSesion">Fecha Sesión</th>
                                <th st-sort="observacion">Observación</th>
                                <th colspan="4" style="text-align: center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fechaSesion in displayCollection| orderBy : 'apePaterno' ">
                                <td data-title="Id. Sesión">{{fechaSesion.idFechaSesion}}</td>
                                <td data-title="Fecha Sesión">{{fechaSesion.fechaSesion}}</td>
                                <td data-title="Observación">{{fechaSesion.observacion}}</td>
                                <td  data-title="Ver">
                                    <button data-toggle="tooltip" title="Ver"  class="btn btn-default" ng-click="editarModal(fechaSesion, true)"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"> </span></button> 
                                </td>
                                <td  data-title="Editar">
                                    <button data-toggle="tooltip" title="Editar"  class="btn btn-default" ng-click="editarModal(fechaSesion, false)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> </span></button>
                                </td>
                                <td data-title="Acta">
                                    <button data-toggle="tooltip" title="Generar Acta de Sesión"  class="btn btn-default" ng-click="generarActaSesion(fechaSesion.idFechaSesion)"><i class="fa fa-list-ol" aria-hidden="true"></i><span class="hidden-xs"> </span></button>
                                </td>
                                <td  data-title="Eliminar">
                                    <button data-toggle="tooltip" title="Eliminar"  class="btn btn-danger" ng-click="eliminar(fechaSesion)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> </span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-hide="true" id="tablaFechaSesion" >
                        <thead>
                            <tr>
                                <th st-sort="idFechaSesion">Id. Sesión</th>
                                <th st-sort="fechaSesion">Fecha Sesión</th>
                                <th st-sort="observacion">Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fechaSesion in displayCollection1| orderBy : 'apePaterno' ">
                                <td data-title="Id. Sesión">{{fechaSesion.idFechaSesion}}</td>
                                <td data-title="Fecha Sesión">{{fechaSesion.fechaSesion}}</td>
                                <td data-title="Observación">{{fechaSesion.observacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- paginacion -->
    <!--    <div class="container">
            <div class="center-block" style="text-align: center">
                <br>
                <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                    <span aria-hidden="true">&laquo;</span>
                </button>
                {{currentPage + 1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= correos.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
        </div>-->
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </div>
    </div>
</div>