<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos del Patrocinador</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="idPatrocinador">Id. patrocinador:</label><br>
                        <input readonly type="text" class="form-control" id="idPatrocinador" ng-model="patrocinador.idPatrocinador" placeholder="Id. patrocinador" value="{{ patrocinador.idPatrocinador || '' }}">
                    </div>     
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="nombre">Nombre:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="nombre" ng-model="patrocinador.nombre" placeholder="Nombres" value="{{ patrocinador.nombre || '' }}" e-required>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="razonSocial">Razón Social:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="razonSocial" ng-model="patrocinador.razonSocial" placeholder="Razón Social" value="{{ patrocinador.razonSocial || '' }}" e-required>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="ruc">RUC:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="ruc" ng-model="patrocinador.ruc" limit-input-to="11" placeholder="RUC" value="{{ patrocinador.ruc || '' }}" e-required>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="direccion">Dirección:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="direccion" ng-model="patrocinador.direccion" placeholder="Dirección" value="{{ patrocinador.direccion || '' }}" e-required>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!--Inicio de Coordinador-->
                    <button ng-disabled="deshabilitado" type="button" style="width: 100%;" class="btn btn-default" ng-click="isCro = !isCro">Cro</button>
                    <hr>
                    <div uib-collapse="isCro">
                        <div>
                            <form data-editable-form name="uiSelectFormCro" onaftersave="agregarCro()">
                                <div editable-ui-select="croSelect" data-e-form="uiSelectFormCro" data-e-name="croSelect" name="croSelect" theme="bootstrap" data-e-ng-model="croSelect" data-e-style="min-width:300px;">
                                    <editable-ui-select-match placeholder="Cro" style="width: 100%;" >
                                        {{$select.selected.nombre}}
                                    </editable-ui-select-match>
                                    <editable-ui-select-choices repeat="cro in crosSelectList | orderBy: 'nombre' | filter: $select.search track by $index ">
                                        {{cro.nombre}}
                                    </editable-ui-select-choices>
                                </div> 
                                <div class="buttons">
                                    <button ng-disabled="opcion" type="button" class="btn btn-default" ng-click="uiSelectFormCro.$show()" ng-show="!uiSelectFormCro.$visible">
                                        Agregar
                                    </button>
                                    <span ng-show="uiSelectFormCro.$visible">
                                        <br/>
                                        <button type="submit" class="btn btn-primary" ng-disabled="uiSelectFormCro.$waiting">
                                            Confirmar
                                        </button>
                                        <button type="button" class="btn btn-default" ng-disabled="uiSelectFormCro.$waiting" ng-click="uiSelectFormCro.$cancel()">
                                            Cancelar
                                        </button>
                                    </span>
                                </div>  
                            </form>
                            <br>
                            <table class="table table-bordered table-hover table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="patrCro in patrocinadorCros| orderBy:'nombre'">
                                        <td>
                                            <div>
                                                <div>
                                                    <button ng-disabled="opcion" type="button" class="close" aria-label="Close" ng-click="eliminarPatrCro(patrCro)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div>
                                                    {{patrCro[1].nombre}} 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>

