<div class="modal-content" style="font-size: smaller;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de Registro</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="idRegistro">Id. Registro:  </label><br>
                        <input readonly type="text" class="form-control" id="idRegistro"  placeholder="Id. registro" ng-model="registro.idRegistro" value="{{ registro.idRegistro || '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="paramEstadoRegistro">Est. Inicial/Nuevo Site:  </label><br>
                        <select ng-disabled="opcion"  class="form-control" id="paramEstadoRegistro" ng-model="registro.paramEstadoRegistro">
                            <option ng-repeat="pd in paramEstadoRegistro" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="equivalenciaCorrelativo">Correlativo Equiv.:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="equivalenciaCorrelativo"  placeholder="Correlativo equiv." ng-model="registro.equivalenciaCorrelativo" value="{{registro.equivalenciaCorrelativo|| '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="investigacion">Investigación:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="investigacion"  placeholder="Buscar Investigación" ng-model="registro.investigacion.idInvestigacion" readonly value="{{registro.investigacion.idInvestigacion|| '' }}"/>
                            <span class="input-group-btn">
                                <button ng-disabled="opcion||disabledExiste||registro.usuarioIngresa==='Inicial'" type="button" class="btn btn-default" ng-click="buscarInvestigacion()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="protocolo">Protocolo:  </label><br>
                        <input ng-readonly="true" type="text" class="form-control" id="protocolo"  placeholder="Correlativo equiv." ng-model="registro.investigacion.protocolo" value="{{registro.investigacion.protocolo|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="titulo">Título:  </label><br>
                        <input ng-readonly="true" type="text" class="form-control" id="titulo"  placeholder="Titulo" data-toggle="tooltip" title="{{registro.investigacion.titulo}}"  ng-model="registro.investigacion.titulo" value="{{registro.investigacion.titulo|| '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="idInvestigador">Investigador:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="idInvestigador"  placeholder="Buscar Investigador" ng-model="registro.investigador.idInvestigador" readonly value="{{registro.investigador.idInvestigador|| '' }}"/>
                            <span class="input-group-btn">
                                <button ng-disabled="opcion||disabledExiste||registro.usuarioIngresa==='Inicial'" type="button" class="btn btn-default" ng-click="buscarInvestigador()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="nombreInvestigador">Nombre Investigador:  </label><br>
                        <input ng-readonly="true" type="text" class="form-control" id="nombreInvestigador"  placeholder="Nombre Investigador" value="{{registro.investigador.apePaterno|| ''}} {{registro.investigador.apeMaterno|| ''}}  {{registro.investigador.nombres|| '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="idSede">Sede:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="idSede"  placeholder="Buscar Sede" ng-model="registro.sede.idSede" readonly value="{{registro.sede.idSede|| '' }}"/>
                            <span class="input-group-btn">
                                <button  ng-disabled="opcion||disabledExiste||registro.usuarioIngresa==='Inicial' " type="button" class="btn btn-default" ng-click="buscarSede()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="form-group">
                        <label for="nombreSede">Nombre Sede:  </label><br>
                        <input ng-readonly="true" type="text" class="form-control" id="nombreSede"  placeholder="Nombre Sede" ng-model="registro.sede.nombre" value="{{registro.sede.nombre|| '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="fechaAprobacion" class="control-label">Fecha aprobación: </label><br>
                        <p class="input-group">
                            <input type="text" id="fechaAprobacion"  class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaAprobacion" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" readonly />
                            <span class="input-group-btn">
                                <button ng-disabled="opcion" type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="paramEstado">Estado:  </label><br>
                        <select ng-disabled="opcion"  class="form-control" id="paramEstado" ng-model="registro.paramEstado">
                            <option ng-repeat="pd in paramEstado" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label for="observacion">Observación:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="observacion"  placeholder="Observación" ng-model="registro.observacion" value="{{registro.observacion|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group">
                        <label for="farmacoExperimental">Fármaco experimental:  </label><br>
                        <input ng-disabled="opcion" type="text" class="form-control" id="farmacoExperimental"  placeholder="Seleccionar fármaco" ng-model="registro.farmacoExperimental" value="{{registro.farmacoExperimental|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="placebo">Placebo:  </label>
                        <checkbox ng-disabled="opcion" id="placebo" ng-model="registro.placebo"></checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="pacienteEas">Paciente EAS:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="pacienteEas"  placeholder="Paciente EAS" ng-model="registro.pacienteEas" value="{{registro.pacienteEas|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="easLocal">EAS Local:  </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="easLocal"  placeholder="EAS Local" ng-model="registro.easLocal" value="{{registro.easLocal|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="fechaEas" class="control-label">Fecha aprobación: </label><br>
                        <p class="input-group">
                            <input type="text" id="fechaEas"  class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaEas" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" readonly />
                            <span class="input-group-btn">
                                <button   ng-disabled="opcion"  type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="paramNotificacion">Notificación:  </label><br>
                        <select  ng-disabled="opcion" class="form-control" id="paramNotificacion" ng-model="registro.paramNotificacion">
                            <option ng-repeat="pd in paramNotificacion" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="visitaInspeccion">Visita Inspección:  </label><br>
                        <input  ng-readonly="opcion" type="text" class="form-control" id="visitaInspeccion"  placeholder="Visita Inspección" ng-model="registro.visitaInspeccion" value="{{registro.visitaInspeccion|| '' }}">
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="estudioNinos">Est. Niños:  </label><br>
                        <checkbox  ng-disabled="opcion" id="estudioNinos" ng-model="registro.estudioNinos"></checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="visitaInspeccionIns">Visita Inspección INS:  </label><br>
                        <input  ng-readonly="opcion" type="text" class="form-control" id="visitaInspeccionIns"  placeholder="Visita Inspección INS" ng-model="registro.visitaInspeccionIns" value="{{ registro.visitaInspeccionIns || '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <!--Registro Bitácora-->
                <div class="col-md-12">    
                    <button ng-disabled="deshabilitado" type="button" style="width: 100%;" class="btn btn-default" ng-click="isBitacora = !isBitacora">Bitácora</button>
                    <hr>
                    <div uib-collapse="isBitacora">         
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="fecha" class="control-label">Fecha: </label><br>
                                    <p class="input-group">
                                        <input type="text" id="fecha"  class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registroBitacora.fecha" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" readonly />
                                        <span class="input-group-btn">
                                            <button  ng-disabled="opcion" type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="paramTipoBitacora">Tipo bitacora:  </label><br>
                                    <select  ng-disabled="opcion" class="form-control" id="paramTipoBitacora" ng-model="registroBitacora.paramTipoBitacora" ng-change="cargarDetalleBitacora()">
                                        <option ng-repeat="pd in paramTipoBitacora| orderBy:'descripcion'" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="paramDetalleBitacora">Detalle:  </label><br>
                                    <select ng-disabled="flagTipoBitacora" class="form-control" id="paramDetalleBitacora" ng-model="registroBitacora.paramDetalleBitacora">
                                        <option ng-repeat="pd in paramDetalleBitacora| orderBy:'descripcion'" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12col-lg-12">
                                <div class="form-group">
                                    <label for="detalle">Detalle:  </label><br>
                                    <p class="input-group">
                                        <input ng-readonly="opcion" type="text" class="form-control" id="detalle"  placeholder="Detalle" ng-model="registroBitacora.detalle" value="{{ registroBitacora.detalle || '' }}">
                                        <span class="input-group-btn">
                                            <button   ng-disabled="opcion"  type="button" class="btn btn-default" ng-click="agregarBitacora()"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </p>
                                </div> 
                            </div>
                        </div>
<!--                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label> &nbsp; </label><br>
                                    <button ng-disabled="opcion" ng-click="exportToExcel()" class="btn btn-default" >Excel</button>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12col-lg-12">
                                <div class="form-group">
                                    <label for="txtFiltroBitacora">Filtrar: </label><br>
                                    <p class="input-group">
                                        <input  id="txtFiltroBitacora" type="text" ng-model="txtFiltroBitacora" class="form-control" placeholder="Buscar">
                                        <span class="input-group-btn">
                                            <button   data-toggle="tooltip" title="Exportar a Excel"   ng-disabled="opcion"  type="button" class="btn btn-default" ng-click="exportToExcel()"><i class="glyphicon glyphicon-export"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Bitácora de Cambios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="registroBitacora in registroBitacoras| filter:txtFiltroBitacora | orderBy:'paramTipoBitacora' track by $index ">
                                            <td>
                                                <!--<div>-->
                                                <div>
                                                    <button  ng-disabled="opcion"  type="button" class="close" aria-label="Close" ng-click="eliminarBitacora(registroBitacora)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div>
                                                    <b>{{registroBitacora.paramTipoBitacora}}: </b> {{registroBitacora.paramDetalleBitacora}} -  {{registroBitacora.detalle}} - {{registroBitacora.fecha}}
                                                </div>
                                                <!--</div>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table  ng-hide="true" id="tablaBitacora">
                                    <thead>
                                        <tr>
                                            <th>Bitácora de Cambios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="registroBitacora in registroBitacoras| filter:txtFiltroBitacora | orderBy:'paramTipoBitacora' track by $index ">
                                            <td>
                                                <div>
                                                    <b>{{registroBitacora.paramTipoBitacora}}: </b> {{registroBitacora.paramDetalleBitacora}} -  {{registroBitacora.detalle}} - {{registroBitacora.fecha}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-hide="opcion" type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>