
<div class="container" st-table="displayCollection" st-safe-src="registros" >
    <div class="row">
        <div class="col col-md-12">
            <h1 style='text-align: center'><b>Registro de General</b></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-primary" ng-click="nuevoModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Registro
            </button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form>
                <label for="modelBuscaGlobal">Búsqueda global:</label>
                <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
            </form>
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <form>
                <label for="vistaPagina">Listar por página:</label>
                <select class="form-control" id="vistaPagina" ng-init="itemsByPage = '20'" ng-model="itemsByPage">
                    <option value="5">5</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <form>
                <label for="vistaPagina">Exportar:</label>
                <p class="input-group">
                    <span class="input-group-btn">
                        <button   data-toggle="tooltip" title="Exportar a Excel" st-export etiqueta="Registro"   tabla="tablaRegistro" modelo="displayCollection1"  ng-disabled="opcion"  type="button" class="btn btn-default"><i class="glyphicon glyphicon-export"></i></button>
                    </span>
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="predicate">Seleccionar campo a buscar:</label>
                <select class="form-control" id="predicate" ng-model="selectedPredicate">
                    <option ng-repeat="pd in predicates" value="{{pd.nombre}}">{{pd.descripcion}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="modelBusca">&nbsp;</label>
                <input type="text" st-search="{{selectedPredicate}}" class="form-control" id="buscaCampo"  placeholder="Búsqueda campo">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12">
            <div class="search-table-outter wrapper">
                <div id="no-more-tables">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th  st-sort="idRegistro">Id. Registro</th>
                                <th  st-sort="equivalenciaCorrelativo">Equivalencia Correlativo</th>
                                <th  st-sort="paramEstadoRegistro">Estado Registro</th>
                                <th  st-sort="fase">Fase</th>
                                <th  st-sort="protocolo">Protocolo</th>
                                <th  st-sort="titulo">Título</th>
                                <th  st-sort="paramTipoInvestigacion">Tipo Investigación</th>
                                <th  st-sort="paramEspecialidad">Especialidad</th>
                                <th  st-sort="nombreInvestigador">Investigador</th>
                                <th  st-sort="nombreSede">Sede</th>
                                <th st-sort="fechaAprobacion">Fecha aprobación</th>
                                <th  st-sort="paramEstado">Estado</th>
                                <th  st-sort="observacion">Observación</th>
                                <th  st-sort="datosBitacora">Datos Bitacora</th>
                                <th  st-sort="farmacoExperimental">Fármaco experimental</th>
                                <th  st-sort="placebo">Placebo</th>
                                <th  st-sort="estudioNinos">Estudio Niños</th>
                                <th colspan="3" style="text-align: center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="registro in displayCollection">
                                <td data-title="Id. Registro">{{registro.idRegistro}}</td>
                                <td data-title="Equivalencia Correlativo">{{registro.equivalenciaCorrelativo}}</td> 
                                <td data-title="Estado Registro">{{registro.paramEstadoRegistro}}</td>
                                <td data-title="Fase">{{registro.fase}}</td>
                                <td data-title="Protocolo">{{registro.protocolo}}</td>
                                <td data-title="Título">{{registro.titulo}}</td>
                                <td data-title="Tipo Investigación">{{registro.paramTipoInvestigacion}}</td>
                                <td data-title="Especialidad">{{registro.paramEspecialidad}}</td>
                                <td data-title="Investigador">{{registro.nombreInvestigador}}</td>
                                <td data-title="Sede">{{registro.nombreSede}}</td>
                                <td data-title="Fecha aprobación">{{registro.fechaAprobacion|date:'dd/MM/yyyy'}}</td>
                                <td data-title="Estado">{{registro.paramEstado}}</td>
                                <td data-title="Observación">{{registro.observacion}}</td>
                                <td data-title="Datos Bitacora">{{registro.datosBitacora}}</td>
                                <td data-title="Fármaco experimental">{{registro.farmacoExperimental}}</td>
                                <td data-title="Placebo"> {{registro.placebo | booleanToText }}</td>
                                <td data-title="Estudio Niños">{{registro.estudioNinos | booleanToText }}</td>
                                <td data-title="Ver" >
                                    <button data-toggle="tooltip" title="Ver"  class="btn btn-default" ng-click="editarModal(registro, true)"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"></span></button> 
                                </td>
                                <td data-title="Editar">
                                    <button data-toggle="tooltip" title="Editar"   class="btn btn-default" ng-click="editarModal(registro, false)"><i class="fa fa-pencil-square" aria-hidden="true"></i><span class="hidden-xs"></span></button>
                                </td>
                                <td data-title="Eliminar">
                                    <button data-toggle="tooltip" title="Eliminar"   class="btn btn-danger" ng-click="eliminar(registro)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <table ng-hide="true" id="tablaRegistro">
                        <thead>
                            <tr>
                                <th  st-sort="idRegistro">Id. Registro</th>
                                <th  st-sort="equivalenciaCorrelativo">Equivalencia Correlativo</th>
                                <th  st-sort="paramEstadoRegistro">Estado Registro</th>
                                <th  st-sort="fase">Fase</th>
                                <th  st-sort="protocolo">Protocolo</th>
                                <th  st-sort="titulo">Título</th>
                                <th  st-sort="paramTipoInvestigacion">Tipo Investigación</th>
                                <th  st-sort="paramEspecialidad">Especialidad</th>
                                <th  st-sort="nombreInvestigador">Investigador</th>
                                <th  st-sort="nombreSede">Sede</th>
                                <th st-sort="fechaAprobacion">Fecha aprobación</th>
                                <th  st-sort="paramEstado">Estado</th>
                                <th  st-sort="observacion">Observación</th>
                                <th  st-sort="datosBitacora">Datos Bitacora</th>
                                <th  st-sort="farmacoExperimental">Fármaco experimental</th>
                                <th  st-sort="placebo">Placebo</th>
                                <th  st-sort="estudioNinos">Estudio Niños</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="registro in displayCollection1">
                                <td data-title="Id. Registro">{{registro.idRegistro}}</td>
                                <td data-title="Equivalencia Correlativo">{{registro.equivalenciaCorrelativo}}</td> 
                                <td data-title="Estado Registro">{{registro.paramEstadoRegistro}}</td>
                                <td data-title="Fase">{{registro.fase}}</td>
                                <td data-title="Protocolo">{{registro.protocolo}}</td>
                                <td data-title="Título">{{registro.titulo}}</td>
                                <td data-title="Tipo Investigación">{{registro.paramTipoInvestigacion}}</td>
                                <td data-title="Especialidad">{{registro.paramEspecialidad}}</td>
                                <td data-title="Investigador">{{registro.nombreInvestigador}}</td>
                                <td data-title="Sede">{{registro.nombreSede}}</td>
                                <td data-title="Fecha aprobación">{{registro.fechaAprobacion|date:'dd/MM/yyyy'}}</td>
                                <td data-title="Estado">{{registro.paramEstado}}</td>
                                <td data-title="Observación">{{registro.observacion}}</td>
                                <td data-title="Datos Bitacora">{{registro.datosBitacora}}</td>
                                <td data-title="Fármaco experimental">{{registro.farmacoExperimental}}</td>
                                <td data-title="Placebo"> {{registro.placebo|booleanToText }}</td>
                                <td data-title="Estudio Niños">{{registro.estudioNinos|booleanToText }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="center-block" style="text-align: center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </div>
    </div>
</div>
