<div class="modal-content" style="z-index: 1050">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de Registro</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idRegistro">Id. Registro:  </label><br>
                        <input readonly type="text" class="form-control" id="idRegistro"  placeholder="Id. registro" ng-model="registro.idRegistro" value="{{ registro.idRegistro || '' }}">
                    </div> 
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="investigacion">Investigación:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="investigacion"  placeholder="Buscar Investigación" ng-model="registro.investigacion.idInvestigacion" readonly value="{{registro.investigacion.idInvestigacion|| '' }}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="buscarInvestigacion()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="idInvestigador">Investigador:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="idInvestigador"  placeholder="Buscar Investigador" ng-model="registro.idInvestigador" readonly value="{{registro.idInvestigador|| '' }}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="buscarInvestigador()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="idSede">Sede:  </label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" id="idSede"  placeholder="Buscar Sede" ng-model="registro.idSede" readonly value="{{registro.idSede|| '' }}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="buscarSede()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div> 
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="fechaAprobacion">Fecha aprobación:  </label><br>
                        <input type="text" class="form-control" id="fechaAprobacion"  placeholder="Seleccionar fecha" ng-model="registro.fechaAprobacion" value="{{registro.fechaAprobacion|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramEstado">Estado:  </label><br>
                        <select class="form-control" id="paramEstado" ng-model="registro.paramEstado">
                            <option ng-repeat="pd in paramEstado" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="observacion">Observación:  </label><br>
                        <input type="text" class="form-control" id="observacion"  placeholder="Observación" ng-model="registro.observacion" value="{{registro.observacion|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="farmacoExperimental">Fármaco experimental:  </label><br>
                        <input type="text" class="form-control" id="farmacoExperimental"  placeholder="Seleccionar fármaco" ng-model="registro.farmacoExperimental" value="{{registro.farmacoExperimental|| '' }}">
                    </div> 
                </div>
                <div class="form-group">
                    <label for="placebo">Placebo:  </label>
                    <checkbox id="placebo" ng-model="registro.placebo"></checkbox>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="pacienteEas">Paciente EAS:  </label><br>
                        <input type="text" class="form-control" id="pacienteEas"  placeholder="Paciente EAS" ng-model="registro.pacienteEas" value="{{registro.pacienteEas|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="easLocal">EAS Local:  </label><br>
                        <input type="text" class="form-control" id="easLocal"  placeholder="EAS Local" ng-model="registro.easLocal" value="{{registro.easLocal|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="paramNotificacion">Notificación:  </label><br>
                        <select class="form-control" id="paramNotificacion" ng-model="registro.paramNotificacion">
                            <option ng-repeat="pd in paramNotificacion" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="fechaEas">Fecha EAS:  </label><br>
                        <input type="text" class="form-control" id="fechaEas"  placeholder="Seleccionar fecha EAS" ng-model="registro.fechaEas" value="{{registro.fechaEas|| '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="visitaInspeccion">Visita Inspección:  </label><br>
                        <input type="text" class="form-control" id="visitaInspeccion"  placeholder="Visita Inspección" ng-model="registro.visitaInspeccion" value="{{registro.visitaInspeccion|| '' }}">
                    </div> 
                </div>
                <div class="form-group">
                    <label for="estudioNinos">Estudio Niños:  </label>
                    <checkbox id="estudioNinos" ng-model="registro.estudioNinos"></checkbox>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="visitaInspeccionIns">Visita Inspección INS:  </label><br>
                        <input type="text" class="form-control" id="visitaInspeccionIns"  placeholder="Visita Inspección INS" ng-model="registro.visitaInspeccionIns" value="{{ registro.visitaInspeccionIns || '' }}">
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>

<script type="text/javascript">
            $('.form_datetime').datetimepicker({
                language: 'es',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            $('.form_date').datetimepicker({
                language: 'es',
                setDate: new Date(),
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language: 'es',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
</script>