<div class="modal-content" st-table="displayCollection"  st-safe-src="registros">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Buscar Registro</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="buscaGlobal">Búsqueda global:</label>
                        <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <table class="table table-striped table-bordered table-condensed"  >
                        <thead>
                            <tr>
                                <th>Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--                            <tr ng-repeat="registro in displayCollection | empezarDe : currentPage * pageSize | limitTo:pageSize">-->
                            <tr ng-repeat="registro in displayCollection">
                                <td>
                                    <div>
                                        <div>
                                            <button type="button" class="close" data-toggle="tooltip" title="Enviar" ng-click="enviar(registro)">
                                                <span aria-hidden="true">&#10132;</span>
                                            </button>
                                        </div>
                                        <div style="font-size: smaller;">
                                            <b>Investigación: </b> {{registro.titulo}}<br>
                                            <b>Sede: </b>{{registro.nombreSede}}<br>
                                            <b>Investigador: </b> {{registro.nombreInvestigador}}<br>
                                            <b>Protocolo: </b>{{registro.protocolo}}<br>
                                            <b>Correlativo Interno:</b> {{registro.equivalenciaCorrelativo}}<br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="1" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--            <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                <div class="center-block" style="text-align: center">
                                    <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                                        <span aria-hidden="true">&laquo;</span>
                                    </button>
                                    {{currentPage + 1}}/{{numberOfPages()}}
                                    <button ng-disabled="currentPage >= registros.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                                        <span aria-hidden="true">&raquo;</span>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>-->
        </div>
    </div>
    <div class="modal-footer">
        <!--        <button type="button" class="btn btn-default" ng-click="enviar()">
                    Enviar
                </button>-->
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Cancelar
        </button>
    </div>
</div>