<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/coordinador/*</url-pattern>
            <url-pattern>/correo/*</url-pattern>
            <url-pattern>/correspondencia/*</url-pattern>
            <url-pattern>/cro/*</url-pattern>
            <url-pattern>/investigacion/*</url-pattern>
            <url-pattern>/investigacionCoordinador/*</url-pattern>
            <url-pattern>/investigacionInvestigador/*</url-pattern>
            <url-pattern>/investigacionSede/*</url-pattern>
            <url-pattern>/investigador/*</url-pattern>
            <url-pattern>/monitor/*</url-pattern>
            <url-pattern>/pago/*</url-pattern>
            <url-pattern>/patrocinador/*</url-pattern>
            <url-pattern>/registro/*</url-pattern>
            <url-pattern>/sede/*</url-pattern>
            <url-pattern>/usuario/*</url-pattern>
            <url-pattern>/parametro/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint2</display-name>
        <web-resource-collection>
            <web-resource-name>usuarios</web-resource-name>
            <description/>
            <url-pattern>/coordinador/*</url-pattern>
            <url-pattern>/correspondencia/*</url-pattern>
            <url-pattern>/cro/*</url-pattern>
            <url-pattern>/investigacion/*</url-pattern>
            <url-pattern>/investigacionCoordinador/*</url-pattern>
            <url-pattern>/investigacionInvestigador/*</url-pattern>
            <url-pattern>/investigacionSede/*</url-pattern>
            <url-pattern>/investigador/*</url-pattern>
            <url-pattern>/monitor/*</url-pattern>
            <url-pattern>/pago/*</url-pattern>
            <url-pattern>/patrocinador/*</url-pattern>
            <url-pattern>/registro/*</url-pattern>
            <url-pattern>/sede/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrador</role-name>
            <role-name>usuario</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealmEtica</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>administrador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>usuario</role-name>
    </security-role>
</web-app>
