<nav class="navbar navbar-default navbar-fixed-top" role='navigation'  style="background-color: #5E7C88">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color: #FEB41C" class="navbar-brand" ng-href="#">Comite de Etica</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <ul class="nav navbar-nav" ng-show="!muestra">
                <li class="dropdown" >
                    <a href="" class="dropdown-toggle"style="color: #FEB41C" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i data-count="{{noLeidos}}" class="glyphicon glyphicon-bell notification-icon"></i> (<b>{{noLeidos}}</b>)
                    </a>
                    <ul class="dropdown-menu notify-drop">
                        <div class="notify-drop-title">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">Mensajes (<b>{{noLeidos}}</b>)</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" ng-click="marcarTodoLeido()" data-placement="bottom" title="Marcar todo como leído."><i class="fa fa-dot-circle-o"></i></a></div>
                            </div>
                        </div>
                        <!-- end notify title -->
                        <!-- notify content -->
                        <div class="drop-content" >
                            <li ng-repeat="not in notificacions">
                                <div class="col-md-12 col-sm-12 col-xs-12 pd-l0" ng-style="not.estadoNotificacion === '0' ? {'background-color' : '#E6E6FA' } :{'background-color':none}" >
                                    &nbsp;
                                    <a href="" ng-click="enlaceNotificacion(not)">{{not.idDocumento}}</a> 
                                    <a href="" class="rIcon" ng-click="marcar(not)"><i class="fa fa-dot-circle-o"></i></a>
                                    <div class="col-md-10 col-sm-10 col-xs-10 center-block">
                                        En {{not.tablaProcedencia}}, {{not.datosRelevante}}dasdsad
                                    </div>
                                </div>
                            </li>
                        </div >
                        <!--<div class="notify-drop-footer text-center">
                            <a href=""><i class="fa fa-eye"></i> Ver Todo</a>
                        </div>-->
                    </ul>
                </li>

                <li><a style="color: #FEB41C" ng-href="#/correspondenciaList/all"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Correspondencia</a></li>
                <li><a style="color: #FEB41C" ng-href="#/registroList/all"><span class="fa fa-archive" aria-hidden="true"></span> Registro General</a></li>
                <li><a style="color: #FEB41C" ng-href="#/pagoList/all"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Cuentas por Cobrar</a></li>
                <li class="dropdown">
                    <a style="color: #FEB41C;cursor: pointer;"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Administracion<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/investigacionList">Investigación</a></li>
                        <li><a href="#/sedeList">Centro de Investigacion</a></li>
                        <li><a href="#/coordinadorList">Coordinador de Investigacion</a></li>
                        <li><a href="#/investigadorList">Investigador de Investigacion</a></li>
                        <li><a href="#/monitorList">Monitor de Investigacion</a></li>
                        <li><a href="#/patrocinadorList">Patrocinador</a></li>
                        <li><a href="#/croList">CRO</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="rolUsuario === 'PD01'">
                    <a style="color: #FEB41C;cursor: pointer;"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="fa fa-cogs" aria-hidden="true"></span> Configuración<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/usuarioList">Usuarios</a></li>
                        <li><a href="#/correoList">Correos</a></li>
                    </ul>
                </li>
                
            </ul>

            <div>
                <ul ng-show="muestra" class="nav navbar-nav navbar-right" >
                    <li>
                        <a style="color: #FEB41C" href="#/login"  >Iniciar sesión</a>
                    </li>
                </ul>
                <ul ng-show="!muestra" style="color: #FEB41C" class="nav navbar-nav navbar-right">
                    <!--<li><a runat="server" href="~/Account/Manage" title="Manage your account">Hello, <%//: Context.User.Identity.GetUserName()  %> !</a></li>-->
                    <li><a title="" style="color: #FEB41C" > {{username}}</a></li>
                    <li>
                        <a href="" style="color: #FEB41C" ng-click="logout()">Cerrar sesión </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>