<div class="container">
    <label for="cargarArchivo" class="btn btn-file">Seleccione Archivos</label>
    <input type = "file" id="cargarArchivo" style="display: none" file-model = "myFile" multiple />

    <div id="no-more-tables" ng-show="myFile.length > 0">
        <table class="col-sm-12 table-bordered table-striped table-condensed cf">
            <thead class="cf"> 
                <tr>
                    <td>Nombre de Archivo</td>
                    <td>Estado</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in myFile">
                    <td data-title="Nombre" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        {{file.name}}
                    </td>
                    <td class="col-sm-3" data-title="Estado">
            <uib-progressbar ng-show="file._progress < 99" class="progress-striped active" value="file._progress" type="{{file._progressType}}">
                {{file._progress}}
            </uib-progressbar>
            <uib-progressbar ng-show="file._progress > 99" class="progress-striped" value="file._progress" type="{{file._progressType}}">
                Completado
            </uib-progressbar>
            </td>
            <td>
                <a ng-show="file._progress == 100" class="btn btn-primary" ng-click="downloadFile(file.name)"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"> Ver</span></a>
                <a class="btn btn-danger" ng-click="eliminarFile(file)"><i class="fa fa-times" aria-hidden="true"></i><span class="hidden-xs"> Remover</span></a>
            </td>
            </tr>
            </tbody>
        </table>
        <div class="container">
            <button class="btn btn-warning" ng-click = "uploadFile()">Subir Archivos</button>
            <button class="btn btn-danger" ng-click = "eliminarTodo()">Eliminar Todo</button>
        </div>
    </div>

</div>
<button ng-click="downloadFile('Sin título.png')">descargar</button>
<button ng-click="downloadFile('imagen.png')">descargar</button>
<button ng-click="downloadFile('prueba.pdf')">descargar</button>


<div class="form-group">
    <label for="investigacion" class="col-sm-3 control-label">Investigación:</label><br>
    <div class="col-sm-6">
        <ui-select ng-model="investigacion" theme="selectize" title="Seleccinar investigación" id="investigacion">
            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.protocolo}}</ui-select-match>
            <ui-select-choices repeat="inv in investigacions | filter: $select.search">
                <div ng-bind-html="inv.protocolo | highlight: $select.search"></div>
                <small ng-bind-html="inv.titulo | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
    </div>
</div>