<div>
    <form editable-form name="editableForm" onaftersave="guardar()">
    <legend>Datos de la Investigacion Coordinador</legend>
    <div>
      <span class="title">Observacion:  </span>
      <span editable-text="investigacionCoordinador.observacion" e-name="investigacionCoordinador.observacion" e-required>{{ investigacionCoordinador.observacion || '' }}</span>
    </div> 
    
    <div class="buttons">
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        {{nombreBoton}}
      </button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Guardar
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancelar
        </button>
      </span>
    </div>
    </form> 
    <br>
    <a ng-href="#/investigacionCoordinadorList">Volver</a>
</div>

<!--
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Seleccionar Coordinador</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <label for="idCoordinador">Id. coordinador:</label><br>
                    <input readonly type="text" class="form-control" id="idCoordinador" ng-model="coordinador.idCoordinador" placeholder="Id. coordinador" value="{{ coordinador.idCoordinador || '' }}">
                </div>     
                <div class="form-group">
                    <label for="nombres">Nombres:  </label><br>
                    <input type="text" class="form-control" id="nombres" ng-model="coordinador.nombres" placeholder="Nombres" value="{{ coordinador.nombres || '' }}" e-required>
                </div> 
                
                <div class="form-group">
                    <label for="observacion">Observación:  </label><br>
                    <input type="text" class="form-control" id="observacion" ng-model="investigacionCoordinador.observacion" placeholder="Ingresar observación" value="{{ investigacionCoordinador.observacion || '' }}">
                </div> 
                
                
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>-->
