<div class="modal-content" style="z-index: 1050">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de Pago</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <h3 style='text-align: center'><b>Servicios pendiente de registro</b></h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" ng-model="txtFiltroServicio" class="form-control" placeholder="Buscar">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" ng-model="observacion" class="form-control" placeholder="Observaciones">
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-12">
                    <div class="search-table-outter wrapper">
                        <div id="no-more-tables">
                            <table class="col-md-12 table-bordered table-striped table-condensed cf" >
                                <thead class="cf">
                                    <tr>
                                        <th></th>
                                        <th>Id Correspondencia</th>
                                        <th>Investigador</th>
                                        <th>Protocolo</th>
                                        <th>Tipo Servicio</th>
                                        <th>Costo</th>
                                        <th>Observación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="corespondenciaServicio in correspondenciaServicios | filter:txtFiltroServicio ">
                                        <td><checkbox ng-model="corespondenciaServicio.generar"></checkbox></td>
                                <td data-title="Id Correspondencia">{{corespondenciaServicio.idCorrespondencia}}</td>
                                <td data-title="Investigador">{{corespondenciaServicio.investigador}}</td>
                                <td data-title="Protocolo">{{corespondenciaServicio.protocolo}}</td>
                                <td data-title="Tipo Servicio">{{corespondenciaServicio.nparamTipoServicio}}</td>
                                <td data-title="Costo">{{corespondenciaServicio.costo}}</td>
                                <td data-title="Observación">{{corespondenciaServicio.observacion}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Generar Pago
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>
