
<div class="container"  st-table="displayCollection" st-safe-src="usuarios" >
    <div class="row">
        <div class="col col-md-12">
            <h1 style='text-align: center'><b>Lista de Usuarios</b></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-primary" ng-click="insertarModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Usuario
            </button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form>
                <label for="buscaGlobal">Búsqueda global:</label>
                <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="predicate">Seleccionar campo a buscar:</label>
                <select class="form-control" id="predicate" ng-model="selectedPredicate">
                    <option ng-repeat="pd in predicates" value="{{pd.nombre}}">{{pd.descripcion}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="buscaCampo">&nbsp;</label>
                <input type="text" st-search="{{selectedPredicate}}" class="form-control" id="buscaCampo"  placeholder="Búsqueda campo">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12">
            <div class="search-table-outter wrapper">
                <div id="no-more-tables">
                    <table class="col-sm-12 table-bordered table-striped table-condensed cf" >
                        <thead class="cf">
                            <tr>
                                <th st-sort="idUsuario">Código</th>
                                <th st-sort="usuario">Usuario</th>
                                <th st-sort="perfil">Perfil</th>
                                <th st-sort="estado">Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usuario in displayCollection| empezarDe : currentPage * pageSize | limitTo:pageSize">
                                <td data-title="Código">{{usuario.idUsuario}}</td>
                                <td data-title="Usuario">{{usuario.usuario}}</td>
                                <td data-title="Perfil">{{usuario.perfil}}</td>
                                <td data-title="Estado">{{usuario.estado}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="editarModal(usuario)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> Editar</span></button>
                                    <button class="btn btn-danger" ng-click="eliminar(usuario)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> Eliminar</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <br>
            <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                <span aria-hidden="true">&laquo;</span>
            </button>
            {{currentPage + 1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= usuarios.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </div>
    </div>
    <!-- paginacion -->
</div>