<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos del usuario</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-6">
                    <div class="form-group">
                        <label for="idUsuario">Id. Usuario: </label><br>
                        <input readonly type="text" class="form-control" id="idUsuario"  placeholder="Id. Usuario" ng-model="usuario.idUsuario" value="{{ usuario.idUsuario || '' }}">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-6">
                    <div class="form-group">
                        <label for="usuario">Usuario: </label><br>
                        <input ng-readonly="opcion" type="text" class="form-control" id="usuario"  placeholder="Usuario" ng-model="usuario.usuario" value="{{ usuario.usuario || '' }}">
                    </div>
                </div>
                <div class="col col-xs-6">
                    <div class="form-group">
                        <label for="password">Password: </label><br>
                        <p class="input-group">
                            <input ng-readonly="opcion" type="password"  class="form-control" id="password"  placeholder="Password" ng-model="usuario.password" value="{{ usuario.password || '' }}">
                            <span class="input-group-btn">
                                <button ng-disabled="opcion" type="button" ng-disabled="btnPass" class="btn btn-default" ng-click="cambiarPassword()" data-toggle="tooltip" title="Resetear clave">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                            </span>                
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-6">
                    <div class="form-group">
                        <label for="perfil">Perfil:  </label><br>
                        <select ng-disabled="opcion" id="perfil" class="form-control" theme="bootstrap" ng-model="usuario.perfil">
                            <option ng-repeat="pd in paramPerfil| orderBy : 'descripcion'" value="{{pd.id.idParametroDetalle}}">{{pd.descripcion}}</option>
                        </select>
                    </div>
                </div>     
                <div class="col col-xs-6">
                    <div class="form-group">
                        <label for="estado">Estado:  </label><br>
                        <checkbox ng-disabled="opcion" id="estado" ng-model="usuario.estado"></checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-hide="opcion" type="submit" class="btn btn-primary" ng-click="guardar()">
                Guardar
            </button>
            <button type="button" class="btn btn-default" ng-click="cerrar()">
                Volver
            </button>
        </div>
    </div>
</div>