
<div class="container" st-table="displayCollection" st-safe-src="coordinadors"  >
    <div class="row">
        <div class="col col-md-12">
            <h1 style='text-align: center'><b>Lista de Coordinadores</b></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-primary" ng-click="insertarModal()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Coordinador
            </button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form>
                <label for="buscaGlobal">Búsqueda global:</label>
                <input type="text" st-search type="search"  class="form-control" id="buscaGlobal"  placeholder="Búsqueda global">
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="predicate">Seleccionar campo a buscar:</label>
                <select class="form-control" id="predicate" ng-model="selectedPredicate">
                    <option ng-repeat="pd in predicates" value="{{pd.nombre}}">{{pd.descripcion}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="buscaCampo">&nbsp;</label>
                <!--<input type="text" class="form-control" id="modelBusca"  placeholder="Búsqueda campo" ng-keyup="buscarCampo()" ng-model="modelBusca" value="{{ modelBusca || '' }}">-->
                <input type="text" st-search="{{selectedPredicate}}" class="form-control" id="buscaCampo"  placeholder="Búsqueda campo">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-lg-12">
            <div class="search-table-outter wrapper">
                <div id="no-more-tables">
                    <table class="table table-striped table-bordered table-condensed" >
                        <thead>
                            <tr>
                                <th st-sort="idCoordinador">Código</th>
                                <th st-sort="apePaterno">Apellido Paterno</th>
                                <th st-sort="apeMaterno">Apellido Materno</th>
                                <th st-sort="nombres">Nombre</th>
                                <th st-sort="correo">Correo</th>
                                <th >Acción</th>
                            </tr>
                        </thead>
                        <tbody>
<!--                            <tr>
                                <td colspan="2" data-title="Búsqueda global">
                                    <input st-search placeholder="global" class="input-sm form-control" type="search" />
                                </td>
                                <td data-title="Búsqueda por campo">
                                    <input st-search="{{selectedPredicate}}" placeholder="campo" class="input-sm form-control" type="search" />
                                </td>
                                <td colspan="3"></td>
                            </tr>-->
                            <tr ng-repeat="coordinador in displayCollection| empezarDe : currentPage * pageSize | limitTo:pageSize">
                                <td data-title="Código">{{coordinador.idCoordinador}}</td>
                                <td data-title="Ape Pat">{{coordinador.apePaterno}}</td>
                                <td data-title="Ape Mat">{{coordinador.apeMaterno}}</td>
                                <td data-title="Nombres">{{coordinador.nombres}}</td>
                                <td data-title="Correo">{{coordinador.correo}}</td>
                                <td data-title="">
                                    <a class="btn btn-primary" ng-click="editarModal(coordinador)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs"> Editar</span></a>
                                    <a class="btn btn-danger" ng-click="eliminar(coordinador)" ><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs"> Eliminar</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- paginacion -->
    <div class="container">
        <div class="center-block" style="text-align: center">
            <br>
            <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                <span aria-hidden="true">&laquo;</span>
            </button>
            {{currentPage + 1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= coordinadors.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </div>
    </div>
</div>