<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cerrar()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Datos de la sede</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idSede">Id. Sede: </label><br>
                        <input readonly type="text" class="form-control" id="idSede"  placeholder="Id. Sede" ng-model="sede.idSede" value="{{ sede.idSede || '' }}">
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="nombre">Nombre: </label><br>
                        <input type="text" class="form-control" id="nombre"  placeholder="Nombre del Centro" ng-model="sede.nombre" value="{{ sede.nombre || '' }}">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="direccion">Dirección: </label><br>
                        <input type="text" class="form-control" id="direccion"  placeholder="Dirección del Centro" ng-model="sede.direccion" value="{{ sede.direccion || '' }}">
                    </div>
                </div>
                
                <div class="col">
                    <div class="form-group">
                        <label for="idDepartamento">Departamento:  </label><br>
                        <select ng-change="cargarProvincia()" id="idDepartamento" class="form-control" ng-model="sede.idDepartamento" >
                            <option ng-repeat="d in departamentos" value="{{d.idDepartamento}}" >{{d.descripcion}}</option>
                        </select>
                        <!--<select ng-change="cargarProvincia()" id="departamento" ng-model="sede.idDepartamento" class="form-control" ng-value="depa.idDepartamento" ng-options="depa.descripcion for depa in departamentos track by depa.idDepartamento"/>-->
                    </div>
                </div>                
                
                <div class="col">
                    <div class="form-group">
                        <label for="idProvincia">Provincia: </label><br>
                        <select ng-change="cargarDistrito()" id="idProvincia" class="form-control" ng-model="sede.idProvincia" >
                            <option ng-repeat="d in provincias" value="{{d.id.idProvincia}}" >{{d.descripcion}}</option>
                        </select>
                        <!--<select ng-change="cargarDistrito()" id="provincia" ng-model="sede.idProvincia" class="form-control" ng-options="provi.descripcion for provi in provincias"/>-->
                    </div>
                </div>
                
                
                <div class="col">
                    <div class="form-group">
                        <label for="idDistrito">Distrito: </label><br>
                        <!--<select id="distrito" ng-model="sede.distrito" class="form-control" ng-options="dist.descripcion for dist in distritos"/>-->
                        <select id="idDistrito" class="form-control" ng-model="sede.idDistrito" >
                            <option ng-repeat="d in distritos" value="{{d.id.idDistrito}}" >{{d.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="guardar()">
            Guardar
        </button>
        <button type="button" class="btn btn-default" ng-click="cerrar()">
            Volver
        </button>
    </div>
</div>