
<div class="container">
    <div class="row">
        <h1 style='text-align: center'><b>Lista de Sedes</b></h1>
    </div>

    <br>
    <br>
    <br>
    <div class="row">
        <input type="text" ng-model="txtFiltroSede" class="form-control" placeholder="Buscar">
        <button class="btn btn-primary" ng-click="insertarModal()">
            Nueva Sede
        </button>
       
    </div>
    <br>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>IdSede</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Departamento</th>
                    <th>Provincia</th>
                    <th>Distrito</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sede in sedes| empezarDe : currentPage * pageSize | limitTo:pageSize | filter:txtFiltroSede ">
                    <td>{{sede.idSede}}</td>
                    <td>{{sede.nombre}}</td>
                    <td>{{sede.direccion}}</td>
                    <td>{{sede.idDepartamento}}</td>
                    <td>{{sede.idProvincia}}</td>
                    <td>{{sede.idDistrito}}</td>
                    <td>
                        <!--<div class="btn-group"><button ng-click='' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seleccione <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Editar</a></li>
                                <li><a href="" data-toggle="modal" data-target="#newMyModal{{coordinador.idCoordinador}}">Borrar</a></li>
                            </ul>
                        </div>-->
                        <button class="btn btn-primary" ng-click="editarModal(sede)">Editar</button>
                        <button class="btn btn-danger" ng-click="eliminar(sede)" >Eliminar</button>
                        
                    </td>
            </tr>
            </tbody>
            <tfoot align="center">
                <tr>
                    <td colspan="5">
                        <div class="container ">
                            <div class="center-block">
                                <button ng-disabled="currentPage === 0" ng-click="currentPage = currentPage - 1" class="btn btn-default">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                                {{currentPage + 1}}/{{numberOfPages()}}
                                <!--<button ng-disabled="paginacion.inicia >= productos.length/paginacion.max - 1" ng-click="paginacion.inicia=paginacion.inicia+1">-->
                                <button ng-disabled="currentPage >= sedes.length / pageSize - 1" ng-click="setNextPagina()" class="btn btn-default">
                                    <span aria-hidden="true">&raquo;</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- paginacion -->
</div>