<!--
<div class="container-fluid">
    <div class="row"
         <form name="loginUserForm">
            <fieldset>
                <legend>Formulario de login con AngularJS utilizando cookies</legend>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Username</label>
                        <input type="text" required placeholder="Introduce tu usuario" ng-model="username">
                    </div>
                    <div class="large-12 columns">
                        <label>Password</label>
                        <input type="password" required placeholder="Introduce tu password" ng-model="password">
                    </div>

                    <button type="submit" ng-disabled="!loginUserForm.$valid" ng-click="login(username)" class="button expand round">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>-->
<!--<div ng-app="app">
    <div class="container" ng-controller="loginController">-->
<div >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Logeo</h3>

                <!--                                        <form class="form" ng-submit="login()">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
                                                                </div> 
                                            
                                                                <div class="form-group">
                                                                    <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
                                                                </div>
                                            
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-success">Login</button>
                                                                    <span class="text-danger">{{ error}}</span>
                                                                </div>
                                            
                                                            </div>
                                                        </form>-->

                <!--                <form onsubmit="mensaje(); return false;">
                                    <input type="text" id="usuario"/>
                                    <input type="password" id="password"/>
                                    <input type="submit" value="Submit" click="mensaje">
                                    <input type="reset" value="Reset" >
                                </form>-->

<!--                <form method="post" ng-submit="jSecurity()" >
                    <input type="text" id="j_username"  ng-model="autenticar.usuario" name="j_username"/>
                    <input type="password" id="j_password"  ng-model="autenticar.password" name="j_password"/>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset" >
                </form>-->


                <form class="form" ng-submit="jSecurity()">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="autenticar.usuario"placeholder="username" required=""/>
                        </div> 

                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="autenticar.password" placeholder="password" required=""/>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <span class="text-danger">{{ autenticar.error}}</span>
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>